.categories-body{
  width: 15%;
  height: 500px;
  background-color: #fff;
  border: 1px solid #cccccc;
}
.categories-header{
  padding: 0.5rem;
  background-color: #cccccc;
  font-weight: bolder;
}
.categories-body ul{
  text-align: left;
  padding-left: 0;
}
.categories-body ul li{
  width: 100%;
  list-style: none;
  /* border-bottom: 1px solid #ccc; */
}

.categories-body ul li a{
  display: block;
  text-decoration: none;
  color: rgb(41, 40, 40);
  padding: 1rem;
  width: 100%;
  font-weight: bolder;
}
.categories-body ul li a:hover{
  cursor: pointer;
  background-color: #c63736;
  color: #fff;
}
.reload-icon{
  display: flex;
  height: 10rem;
  flex-direction: column;
  justify-content: center;
  font-size: 30pt;
}
@media only screen and (max-width: 1300px){
  .categories-body{
    display: none;
  }
}