.display-products-body{
    border-left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.display-products{
    width: 100%;
    padding: 15px 10px;
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    row-gap: 15px;
    column-gap: 15px;
}
.child{
    
}
@media only screen and (max-width: 1024px){
    .display-products{
        grid-template-columns: 50% 50%;
    }
    /* .display-products{
        display: block;
    }
    .child{
        display: flex;
        justify-content: center;
    } */
}
@media only screen and (max-width: 600px){
    .display-products{
        display: grid;
        grid-template-columns: 100%;
    }
}