.display-products-body{
    border-left: 0;
}
.display-products{
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    border-left: 0;
    justify-content: center;
    padding: 1rem; */
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.child{
    /* flex: 1 0 21%; */
}
@media only screen and (max-width: 1300px){
    .display-products{
        display: block;
    }
    .child{
        display: flex;
        justify-content: center;
    }
}