.main-color1-background{
    background-color: #c63736;
}
.main-color1-color{
    color: #c63736;
}
.main-color2-background{
    background-color: #79cbc6;
}
.main-color2-color{
    color: #79cbc6;
}
.delete-color{
    color:#c63736 ;
}
.update-color{
    color: goldenrod;
}