.home-body{
    padding: 1rem;
    width: 85%;
    background-color: #fff;
    border: 1px solid black;


    /* border-left: 1px solid #cccccc; */
}
.home-upper-text{
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.home-upper-text div p{
    margin-left: 1rem;
    
}
