.login-body{
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 100%;
    
}
.login-wrapper{
    margin: auto;
    width: 60%;
}
.login-wrapper img{
    width: 10rem;
}
@media only screen and (max-width: 1300px) {
    .login-body{
        margin-top: 0;
        margin-bottom: 0;
    }
    .login-wrapper{
        margin: auto;
        width: 100%;
    }
    .login-wrapper img{
        width: 5rem;
    }
  }