a {
  text-decoration: none;
  color: black;
}

.header{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-bottom: 1px solid #cccccc;
}
.header-nav{
  text-align: right;
  
}
/* .header-nav ul{
  margin-right: 1vmin;
  margin-top: 1vmin;
} */
.header-nav ul li{
  list-style: none;
  display: inline;
  padding: 1vmin;
}
.header-nav ul li a{
  padding: 0.5rem;
  text-decoration: none;
  color: #7f7f7f;
}
.header-nav ul li a:hover{
  background-color: #c63736;
  color: #fff;
}
/* nav ends here */
.header-content{
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.header-content .header-logo{
  flex: 20%;
  text-align: left;
}
.header-content .header-logo img{
  cursor: pointer;
  margin-left: 3rem;
  width: 6rem;
}
.header-content .search-bar{
  flex: 70%;
}
.hamburgar{
  display: none;
}
.header-content .shopping-cart{
  flex: 5%;
  padding: 0;
  font-size: 30pt;
}
.bars{
  display: none;
  border: 1px solid black;
  width: auto;
  width: 5vmin;
  justify-content: center;
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}
@media only screen and (max-width: 1300px){
  .header-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .bars{
    display: flex;
  }
  .hamburgar{
    display: block;
  }
  .header-content .header-logo img{
    display: none;
  }
  .header-content .shopping-cart{
    text-align: right;
    margin-right: 10px;
  }
}
@media (max-width : 600px){
  .bars{
    display: flex;
  }
  .header-content .shopping-cart{
    text-align: right;
    margin-right: 10px;
  }
}