.card-body{
    position: relative;
    border: 1px solid #eee;
    padding: 0.4rem;
    width: 100%;
    height: 350px;
    overflow: hidden;
}
.card-body:hover{
    border-bottom: 20px solid #c63736;
}
.card-header{
    position: absolute;
    opacity: 0.9;
    top: 20%;
    padding: 0.5rem;
}
.card-body img{
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin-bottom: 2rem;
}
.card-info{

}
.card-category{
    color: #ccc;
    font-weight: bolder;
}
.card-description{
    font-weight: bolder;
}
.card-price{
    color: #c63736;
    font-weight: bolder;
    font-size: large;
}
.card-rates{

}
.card-footer{
    width: 100%;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
}
.heart{
    font-size: 15pt;
    cursor: pointer;
    margin-right: 1rem;
}
.add-to-card{
    font-size: 15pt;
    cursor: pointer;
    margin-right: 1rem;
}
.eye{
    font-size: 15pt;
    cursor: pointer;
}
.heart:hover{
    font-size: 25pt;
    color: #c63736;
}
.add-to-card:hover{
    font-size: 25pt;
    color: #c63736;
}
.eye:hover{
    font-size: 25pt;
    color: #c63736;
}
@media only screen and (max-width: 900px){
    .card-body{
        width: 200px;
        border-bottom: 20px solid #c63736;
    }
  }
@media only screen and (max-width: 600px){
    .card-body{
        position: relative;
        border: 1px solid #eee;
        margin: 1rem 0;
        padding: 0.4rem;
        width: 100%;
        border-bottom: 20px solid #c63736;
    }
}