.wrapper{
    width: 100%;
}
.product-body{
    width: 80%;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    align-content: center;
}
.image-body{
    height: 100%;
    padding: 0;
    border: 1px solid #ccc;
}
.image-body img{
    width: 20rem;
}
.product-info{
    padding: 0.5rem;
    position: relative;
    height: 100%;
}
.stars{
    margin-top: 2rem;
}
.price{
    margin-top: 2rem;
    color: #c63736;
    font-weight: bolder;
    font-size: large;
}
.description{
    margin-top: 2rem;
    font-size: 12pt;
    font-weight: bolder;
    color: #555;
}
.button-wrapper{
    position: absolute;
    bottom: 20px;
    left: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-wrapper .purchase-button{
    cursor: pointer;
    background-color: #c63736;
    padding: 0.5rem;
    margin-left: 1rem;
    color: white;
    border: 0;
    font-weight: bolder;
}
.button-wrapper .purchase-button .button-icon{
    font-size: 15pt;
}
.button-wrapper .favorit-button{
    cursor: pointer;
    padding: 0.2rem;
    font-size: 20pt;
    color: #c63736;
}
.Create-review-button{
    cursor: pointer;
    width: 20%;
    margin: 2rem auto;
    font-size: 16pt;
    color:#c63736 ;
    opacity: 0.8;
}
.Create-review-button:hover{
    opacity: 1;
}
@media only screen and (max-width: 1024px){
    .product-body{
        grid-template-columns: 100%;
    }
    .product-info{
        display: flex;
        flex-direction: column;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .button-wrapper{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (max-width: 600px){
    .product-body{
            width: 100%;
            grid-template-columns: 100%;
            padding: 0 10px;   
    }
    .product-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #f6f6f6;
        padding: 5px 0 30px 0;
    }
    .button-wrapper{
        margin-top: 10px;
        margin-left: 0;
        position: relative;
        display: block;
        justify-content: center;
        align-items: center;
        bottom: auto;
        left: auto;
    }
    .Create-review-button{
        cursor: pointer;
        width: 100%;
        margin: 2rem auto;
        font-size: 16pt;
        color:#c63736 ;
        opacity: 0.8;
    }
}