
.shopping-cart-body{
    border: 1px solid #ccc;
    width: 80%;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.shopping-cart-body .items .item-title{

}
.shopping-cart-body .items .item-body{
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.shopping-cart-body .items img{
    width: 150px;
    padding: 2rem;
}
.shopping-cart-body .items div{
    padding: 0.4rem;
}
.quantity-wrapper{
    display: flex;
    align-items: center;
    padding: 0;

}
.quantity{
    padding: 1rem;
}
.plus{
    padding: 0.3rem;
    font-size: 15pt;
    cursor: pointer;
    font-weight: bolder;
    color: brown;
    margin-right: 2rem;
}
.minus{
    padding: 0.3rem;
    font-size: 15pt;
    cursor: pointer;
    font-weight: bolder;
    color: brown;
    margin-left: 2rem;
}
@media only screen and (max-width: 1300px){
    .shopping-cart-body{
        width: 100%;
        padding: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}