.admin-body{
    width: 100%;
    height: 1000px;
}
.admin-header{
    width: 100%;
    padding: 1rem;
    color: white;
    font-size: large;
    background-color: #c63736;
    font-weight: bolder;
}
.admin-content-wrapper{
    display: flex;
}
.admin-content-wrapper .admin-aside{
    width: 20%;
    height: 1000px;
}
.admin-content-wrapper .admin-content{
    width: 80%;
}
.admin-content-wrapper .admin-aside-button-wrapper{

}
.admin-content-wrapper .admin-aside-button-wrapper ul{
    text-align: left;
    padding-left: 0;
    
}
.admin-content-wrapper .admin-aside-button-wrapper ul li{
    cursor: pointer;
    list-style: none;
    padding: 1rem;
    margin-bottom: 0.1rem;
}
.admin-content-wrapper .admin-aside-button-wrapper ul li:hover{
    background-color: #c63736;
    color: white;
}