.admin-body{
    width: 100%;
    margin-bottom: 10rem;
}
.admin-header{
    display: flex;
    flex-direction:row ;
    align-items: center;
    width: 100%;
    color: white;
    font-size: large;
    background-color: #c63736;
    font-weight: bolder;
}
.admin-header .icon{
    font-size: 30pt;
    margin-right: 1rem;
    margin-left: 1rem;
}
.admin-header .text{
    
}
.admin-content-wrapper{
    display: flex;
}
.admin-content-wrapper .admin-aside{
    width: 20%;
    border-right:1px solid #ccc;
}
.admin-content-wrapper .admin-content{
    width: 80%;
}
.admin-content-wrapper .admin-aside-button-wrapper{
}
.admin-content-wrapper .admin-aside-button-wrapper ul{
    text-align: left;
    padding-left: 0;
    border-bottom: 1px solid #ccc;
    
}
.admin-content-wrapper .admin-aside-button-wrapper ul li{
    cursor: pointer;
    list-style: none;
    background-color: #eeeeee;
    padding: 1rem;
    /* margin-bottom: 0.1rem; */
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #fff;
}
.admin-content-wrapper .admin-aside-button-wrapper ul li:hover{
    background-color: #c63736;
    color: white;
}
@media only screen and (max-width: 600px){
    .admin-content-wrapper{
        display: flex;
        flex-direction: column;
    }
    .admin-content-wrapper .admin-aside{
        display: none;
        width: 40%;
    }
    .admin-content-wrapper .admin-aside.active{
        display: block;
        width: 40%;
        position: absolute;
        left: 0;
        height: auto;
        z-index: 1;
    }
    .admin-content-wrapper .admin-content{
        width: 100%;
    }
    .admin-content-wrapper .admin-aside{
        width: 20%;
        border-right:0;
    }
}